<h3> User Profile </h3>

<div class = "field">
	Username: <%= @user.username %>
</div>

<div class="field">
	Created timestamp: <%= @user.created_at %>
</div>

<p>
	Recent Posts:
	<% @posts.each do |post| %>
		<ul>
			<li><%= post.title %></li>
		</ul>
	<% end %>
</p>

<p>
	Recent Comments:
	<% @comments.each do |comment| %>
		<ul>
			<li><%= comment.content %></li>
		</ul>
	<% end %>	

</p>

<p>
	Recent Votes:
	<% @votes.each do |vote| %>
		<ul>
			<li><%= vote.post.title %></li>
		</ul>
	<% end %>	

</p>

<p>
	Twitter Handle:
	<%= @user.twitter.to_s %>

	<% Twitter.user_timeline(@user.twitter.to_s).last(10).each do |tweet| %>
		<ul>
			<li><%= tweet.text %></li>
		</ul>

	<% end %>

</p>