<h1> Posts </h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>No. of comments</th>
			<th>Title</th>
			<th>Created at</th>
		</tr>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= post.comments.count %></td>
				<td>
					<%=link_to post.title, post.url%>
					<br/>
					<div class="mystyle">
						<%= post.comments.count %>
						<%=link_to "comments", controller:"posts", action:"show", id:post.id%> 
					</div>
				</td>
				<td><%= post.created_at %></td>
			</tr>
		<% end %>
	<tbody>
</table>

<%= link_to 'New', new_post_path, :class => 'btn btn-primary'%>