<h1> Posts </h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Votes</th>
			<th>Title</th>
			<th>Created at</th>
		</tr>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td class="mystyle">
					<%= link_to post_votes_path(post, :direction => 'up'), :method => :post do %>
						<i class="icon-arrow-up"> </i>
					<% end %>
					<span> <%= post.vote_number %> </span>
					<%= link_to post_votes_path(post, :direction => 'down'), :method => :post do %>
						<i class="icon-arrow-down"> </i>
					<% end %>
				</td>
				<td>
					<%=link_to post.title, post.url%>
					<br/>
					<div class="mystyle">
						<%= post.comments.count %>
						<%= link_to 'comments', post_comments_path(post.id) %>
					</div>
				</td>
				<td><%= post.created_at %></td>
			</tr>
		<%end%>

	</tbody>
</table>

<%= link_to 'New', new_post_path, :class => 'btn btn-primary'%>