<h3> New Post </h2>
<%= form_tag '/posts', :method => 'create', :html => {:class => "well"} do %>
	<%= label_tag(:title, "Title:") %>
	<%= text_field_tag :title %>
	<%= label_tag(:url, "Url:") %>
	<%= text_field_tag (:url) %>
	<br/><br/>
	<%= submit_tag "Create Post", :class=>"btn btn-primary" %>
<% end %>