<h3> New Post </h2>
<%= form_for @post, :url => {:action => "create"}, :html => {:class => "well"} do |f| %>
	<%= label(:title, "Title:") %>
	<%= f.text_field :title %>
	<%= label(:url, "Url:") %>
	<%= f.text_field :url %>
	<br/><br/>
	<%= f.submit "Create Post", :class=>"btn btn-primary" %>
<% end %>