
<h2> <%= display_title_url(@post) %></h2>

<h5> Comments: </h5>

<ul class="inline">
	<% @post.comments.each do |comment| %>
		<li>
			<%= comment.content %>
			<br/>
			<div class="mystyle">
				submitted by <%= comment.user.username %>
			</div>
			
		</li>
	<% end %>
</ul>	


<% if logged_in? %>
	<%= form_for ([@post, @comment]) do |f| %>
	
	<% if @comment.errors.any? %>
		<div class="alert alert-error">
			<%= @comment.errors.full_messages.join("<br/>").html_safe %>
		</div>
	<% end %>

	<%= f.label :content, "Add Comment: " %>
	<%= f.text_area :content, rows:5 %>
	<br/>
	<%= f.submit "Submit", :class=>"btn" %>

<% end %>
<% end %>
