<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
<a class="brand" href="#">Developer Resources</a>
<div class="nav-collapse">
	<ul class="nav">
		<% if logged_in? %>
			<li>Welcome! <%=  current_user.username %></li>
			<li><%= link_to "Logout", logout_path %></li>
		<% else %>
			<li><%= link_to "Signup", signup_path %></li>
			<li><%= link_to "Login", login_path %></li>
		<% end %>
		<li><%= link_to "About us"%></li>
	</ul>
</div>